{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
	<div class="container">
    <h1 class="display-3">Bienvenido al sistema de simulador</h1>

	</div>
{% endblock %}
