{% extends 'base.html.twig' %}

{% block title %}Editar Pregunta{% endblock %}

{% block body %}
    <h1>Editar Pregunta</h1>

    {{ include('questions/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('questions_index') }}">Regresar</a>

    {{ include('questions/_delete_form.html.twig') }}
{% endblock %}
