{% extends 'base.html.twig' %}

{% block title %}Registrar Pregunta{% endblock %}

{% block body %}
	<center>
    <h1>Registrar Nueva Pregunta</h1>

    {{ include('questions/_form.html.twig') }}
    </center>
    <a class="btn btn-danger btn-lg active" role="button" href="{{ path('questions_index') }}">Regresar</a>
{% endblock %}
