{% extends 'base.html.twig' %}

{% block title %}Simulador{% endblock %}

{% block body %}
<center>
    <br>
<a type="btn-info" class="btn btn-warning" href="{{ path('simulador_show', {'id': 1}) }}">Empezar</a>
</center>
{% endblock %}
